:root {
  --sapphire: #2557bb;
  --cobalt-blue: #1f489c;
  --royal-dark-blue: #143066;

  --bittersweet: #f97068;

  --color-primary-dark: var(--sapphire);
  --color-primary: var(--cobalt-blue);
  --color-primary-dark: var(--royal-dark-blue);

  --color-white: #fff;
  --color-gray-light: #edf2ef;
}
